
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    padding: 20px;
}


col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class^="col-"] {
    float: left;
    padding: 10px;
}


.leftSide {
    border: 4px solid red;
    min-height: 500px;
}


.rightSide {
    border: 4px solid red;
    min-height: 500px;
}


.smallCol {
    border: 3px solid red;
    height: 80px;
}


.biglCol {
    border: 3px solid red;
    min-height: 180px;
}


.halfCol {
    border: 3px solid red;
    height: 80px;
    margin-bottom: 10px;
}

body::after {
    content: "";
    display: block;
    clear: both;
}


@media (max-width: 750px) {

    [class^="col-"] {
        width: 100%;
        float: none;
    }

    .leftSide,
    .rightSide {
        min-height: auto;
    }
}
