html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.leftSide {
  height: 100%;
}

.rightSide {
  height: 100%;
}

.topSide {
  height: 100%;
}

.smallCol {
  height: 20%;
}

.biglCol {
  height: 40%;
}

.halfCol {
  height: 50%;
}

.midSide {
  height: 100%;
}



[class*="col-"] {
  float: left;
  border: 1px solid red;
}

@media (max-width: 750px) {
  [class*="col-"] {
    width: 100%;
    float: none;
    height: auto;
    margin-bottom: 10px;
  }
}